apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ingest.yaml
- discovery.yaml
- scan.yaml
- reversedns.yaml
images:
- name: charlesdburton/scandalorian-discovery-engine:latest
  newName: charlesdburton/scandalorian-discovery-engine
  newTag: db830adf81ee85e45ef57ab8b265ecd661ca9240
- name: charlesdburton/scandalorian-ingest:latest
  newName: charlesdburton/scandalorian-ingest
  newTag: db830adf81ee85e45ef57ab8b265ecd661ca9240
- name: charlesdburton/scandalorian-reversedns:latest
  newName: charlesdburton/scandalorian-reversedns
  newTag: c9ca90172add4e0003d6352ab7fc13abae0d41aa
- name: charlesdburton/scandalorian-reversedns-engine:latest
  newName: charlesdburton/scandalorian-reversedns-engine
  newTag: db830adf81ee85e45ef57ab8b265ecd661ca9240
